In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

df=sns.load_dataset('iris')

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df_grouped=df.groupby('species')['sepal_length']

In [11]:
df_grouped.mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [13]:

summary_stats = df.groupby('species')['sepal_length'].agg(['mean', 'median', 'min', 'max', 'std'])
summary_stats

             mean  median  min  max       std
species
setosa      5.006     5.0  4.3  5.8  0.352490
versicolor  5.936     5.9  4.9  7.0  0.516171
virginica   6.588     6.5  4.9  7.9  0.635880

Similarly do for all